
<!-- Home Page Banner Starts-->
<section class="page-content-area banner-hight ajax-content-add">
  <div class="home-banner-area">
    <div class="banner-content-area">
      <div class="container">
        <div class="row">
          <!-- Home Page Banner Left Starts-->
          <div class="col-md-6 order-last-r">
            <div class="banner-content-left-area">
              <div class="banner-title-area bannerSkil"><span class="title-bg-text">Bill Sellers</span>
                <h3 class="ah-headline"><span class="name">Hello! I am Bill</span><span class="skil ah-words-wrapper"><b class="is-visible">Designer</b><b>Developer</b><b>Digital Marketer</b></span></h3>
                  </div>
                  <div class="banner-content-area">
                    <p>In recent years I have found myself working remotely in Digital Marketing and Automation. It's time to get back to my roots of Web Design and Development. I am currently seeking a position as a Designer or Developer in a remote capacity. </p>
              </div>
            </div>
          </div>
          <!-- Home Page Banner Left End-->
          <!-- Home Page Banner Right Starts-->
          <div class="col-md-5 order-first-r">
            <div class="banner-content-right-area">
              <div class="banner-content-right-slider">
                <div class="single-item"><img src="images/banner/banner1.png" alt=""/></div>
              </div>
            </div>
          </div>
          <!-- Home Page Banner Right End-->
        </div>
      </div>
    </div>
  </div>
  <!-- Home Page Banner End-->
</section>