<!-- references me starts-->

<section class="page-content-area ajax-content-add">
  <div class="references-me-area">
    <div class="references-me-content-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="references-header-area">
              <div class="references-title"><span class="title-bg-text">References</span>
                <h2>they like me, they really like me</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="references-slider-area">
              <div class="references-single-item row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-6">
                  <div class="references-img"><img src="images/references/susan.jpeg" alt="01"/></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-6 align-self-center">
                  <div class="references-name">
                    <h2>Susan Hoerchler</h2>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-12">
                  <div class="references-content">
                    <h3>Director of Creative Services at East Carolina University</h3>
                    <p>A web developer with a fine sense for design is a rare combination, yet Bill possesses these skills in spades. It is unfathomable the amount of digital knowledge in his brain, he always seems to just know how to build what you want, yet he is adept at translating the nuts and bolts of it to those of use who are not technically-minded. Bill always seems to know the right combination of cool and functional to elevate a brand through digital work that breaks through. Add in his killer sense of humor and you can see why Bill is a great asset to the team. It has been a privilege to work beside him.</p>
                  </div>
                </div>
              </div>
              <div class="references-single-item row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-6">
                  <div class="references-img"><img src="images/references/don.jpeg" alt="02"/></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-6 align-self-center">
                  <div class="references-name">
                    <h2>Don Williams</h2>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-12">
                  <div class="references-content">
                    <h3>President at Lewis Advertising</h3>
                    <p>Bill is a talented and very experienced digital designer who understands not only the intricacies of website development and maintenance but the nuances of creating effective messages and designs that attract visitors to sites and keep them there.</p>
                  </div>
                </div>
              </div>
              <div class="references-single-item row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-6">
                  <div class="references-img"><img src="images/references/skip.jpeg" alt="03"/></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-6 align-self-center">
                  <div class="references-name">
                    <h2>Skip Carney</h2>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-12">
                  <div class="references-content">
                    <h3>President & CSO at Carney & Co.</h3>
                    <p>Bill was with Carney & Co. for seven years and was our "go to" guy for a whole host of subjects: Creative, IT, research, websites, to name a few. When Bill gets into something he really gets into it. So you get lots of good input that's up to date and on target. In 30 years in the business, he was far and away our best creative.</p>
                  </div>
                </div>
              </div>
              <div class="references-single-item row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-6">
                  <div class="references-img"><img src="images/references/fred.jpeg" alt="04"/></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-6 align-self-center">
                  <div class="references-name">
                    <h2>Fred Arnold</h2>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-12">
                  <div class="references-content">
                    <h3>Vice President - Creative Director</h3>
                    <p>Bill's easy-going approach belies the high level of talent and enthusiasm he brings to any project. He constantly searches for and shares new media techniques with his coworkers. He is a great team player - skill without attitude.</p>
                  </div>
                </div>
              </div>
              <div class="references-single-item row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-6">
                  <div class="references-img"><img src="images/references/clark.jpeg" alt="05"/></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-6 align-self-center">
                  <div class="references-name">
                    <h2>Clark King</h2>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-12">
                  <div class="references-content">
                    <h3>Multi-channel Marketer | Digital Strategist</h3>
                    <p>It is an interesting experience to sit in Bill’s office and watch people come to him or call for advice on pretty much all things digital. While his true expertise is in web development and content management strategies – his knowledge and passion for digital goes well beyond that core competency. When you talk to Bill, you can count on straight talk, solid perspective, and actionable feedback. It is a pleasure and an education working with him on digital projects.</p>
                  </div>
                </div>
              </div>
              <div class="references-single-item row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-6">
                  <div class="references-img"><img src="images/references/kelley.jpeg" alt="06"/></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-6 align-self-center">
                  <div class="references-name">
                    <h2>Kelley Deal</h2>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-12">
                  <div class="references-content">
                    <h3>Dean of Marketing at Nash Community College</h3>
                    <p>My experience working with Bill Sellers in Web Design, Development and Graphic Design has been very positive. Bill's skill, integrity and know-how are second to none and his skillset is rare in that you get the designer and developer in the same person. His integrity requires that he not stop until the job is finished to the best of his ability and to the clients' satisfaction. Bill Sellers is a rare gem and highly recommended.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end references me starts-->